@{
    ViewData["Title"] = "ホームページ";
}

<div class="text-center">
    <h1 class="display-4">ユーザ情報登録ページへようこそ</h1>
    <p><a asp-controller="UserInfoes" asp-action="Create">登録を始めるにはこちらをクリックしてください。</a> </p>
</div>

<div class="row my-4">
    <div class="col-md-6">
        <h2>ページについて</h2>
        <p>このページの主な目的は、ユーザーに情報を登録するプロセスを案内することです。</p>
    </div>
    <div class="col-md-6">
        <iframe width="560"
                height="315"
                src="https://www.youtube.com/embed/BfEjDD8mWYg"
                title="サービス紹介動画"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
</div>
