@page
@model PersonalDataModel
@{
    ViewData["Title"] = "個人データ";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>あなたのアカウントには、私たちに提供した個人データが含まれています。このページでは、そのデータをダウンロードまたは削除できます。.</p>
        <p>
            <strong>このデータを削除するとアカウントは永久に削除され、回復できなくなります。</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">ダウンロード</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">削除</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
